

<ng-container *ngIf="link">
    <h4>Results</h4>
    <div *ngFor="let lin of link; let i = index">
        <ul class="list-group">
            <a class="list-group-item" href="{{lin}}">{{name[i]}}</a>
          </ul>
        </div>
</ng-container>

