<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label for="search">Search</label>
    <div class="input-group mb-3">
      <input type="search" class="form-control" formControlName="search" id="search" aria-describedby="search" placeholder="search" [value]=search>
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>



  </form>
<!-- 
  <ng-container *ngIf="data"> -->
    <app-result [items] =data></app-result>
  <!-- </ng-container> -->